/* Roboto Thin (100) */
/* @font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Thin.eot');
  src: local('Roboto Thin'), local('Roboto-Thin'),
    url('../fonts/roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/Roboto-Thin.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Thin.woff') format('woff'),
    url('../fonts/roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
} */

/* @font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-ThinItalic.eot');
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
    url('../fonts/roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/Roboto-ThinItalic.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-ThinItalic.woff') format('woff'),
    url('../fonts/roboto/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
} */

/* Roboto Light (300) */
/* @font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Light.eot');
  src: local('Roboto Light'), local('Roboto-Light'),
    url('../fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/Roboto-Light.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Light.woff') format('woff'),
    url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
} */

/* @font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-LightItalic.eot');
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url('../fonts/roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/Roboto-LightItalic.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-LightItalic.woff') format('woff'),
    url('../fonts/roboto/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
} */

/* Roboto Regular (400) */
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('roboto-regular'),
    url('../fonts/roboto/roboto-regular.woff2') format('woff2'),
    url('../fonts/roboto/roboto-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Italic'), local('Roboto-Italic'),
    url('../fonts/roboto/roboto-italic.woff2') format('woff2'),
    url('../fonts/roboto/roboto-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

/* Roboto Medium (500) */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Medium.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Medium.woff') format('woff'),
    url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-MediumItalic.eot');
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
    url('../fonts/roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/Roboto-MediumItalic.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-MediumItalic.woff') format('woff'),
    url('../fonts/roboto/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* Roboto Bold (700) */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Bold.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Bold.woff') format('woff'),
    url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-BoldItalic.eot');
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
    url('../fonts/roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/Roboto-BoldItalic.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-BoldItalic.woff') format('woff'),
    url('../fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Roboto Black (900) */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Black.eot');
  src: local('Roboto Black'), local('Roboto-Black'),
    url('../fonts/roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/Roboto-Black.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Black.woff') format('woff'),
    url('../fonts/roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-BlackItalic.eot');
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
    url('../fonts/roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/Roboto-BlackItalic.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-BlackItalic.woff') format('woff'),
    url('../fonts/roboto/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-html {
  height: 100%;
}

.page-body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  font-family: "Roboto", "Arial", sans-serif;
}

/* header */
.page-header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0 0 40px;
  padding: 20px 55px;
  font-family: "Roboto", "Arial", sans-serif;
}

.header-logo {
  display: flex;
  border-radius: 6px;
  outline: none;
  outline-offset: 6px;
}

.header-logo:hover {
  opacity: 0.5;
}

.header-logo:active {
  opacity: 0.3;
}

.header-logo:focus-visible {
  outline: 2px solid #00c6bd;
  opacity: 0.5;
}

.navigation {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  list-style-type: none;
}

.navigation__link {
  padding: 25px 10px;
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.05px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
  outline: none;
  border-radius: 6px;
}

.navigation__link:hover {
  color: rgba(22, 49, 82, 0.5);
}

.navigation__link:active {
  color: rgba(22, 49, 82, 0.3);
}

.navigation__link:focus-visible {
  outline: 2px solid #00c6bd;
  opacity: 0.5;
}

.user-menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  color: #163152;
  border: 1px solid #00c6bd;
  border-radius: 50%;
}

.user-menu__link:hover {
  opacity: 0.5;
}

.user-menu__link:active {
  opacity: 0.3;
}

.user-menu__link:focus-visible {
  outline-offset: 6px;
  outline: 2px solid #00c6bd;
  opacity: 0.5;
}

/* hero */
.hero {
  padding: 0 55px;
  margin: 0 0 116px;
}

.hero__heading {
  margin: 0 0 40px;
  padding: 0 70px;
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: italic;
  font-size: 44px;
  font-weight: 400;
  line-height: 60px;
  text-transform: uppercase;
}

/* events */
.events {
  margin: 0 0 120px;
  padding: 0 125px;
}

.events__list {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.events__item {
  display: flex;
  gap: 30px;
}

.events__item--reverse {
  flex-direction: row-reverse;
  text-align: right;
}

.events__wrapper {}

.events__date {
  margin: 0 0 10px;
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.events__title {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  margin: 0 0 35px;
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.events__title::after {
  position: absolute;
  bottom: -15px;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #00c6bd;
}

.events__description {
  margin: 0;
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* services */
.services {
  margin: 0 0 120px;
  padding: 0 55px;
}

.services__heading {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  margin: 0 0 55px;
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.services__heading::after {
  position: absolute;
  bottom: -15px;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #00c6bd;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services__item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 370px;
  padding: 30px;
  box-shadow: 0px 4px 30px 0px rgba(22, 49, 82, 0.12);
  background: #fdfdff;
}

.services__link {
  display: block;
  text-decoration: none;
  border-radius: 6px;
}

.services__link:hover .services__image {
  border-radius: 6px;
  opacity: 0.5;
}

.services__link:active .services__image {
  border-radius: 6px;
  opacity: 0.3;
}

.services__link:focus-visible {
  border-radius: 6px;
  outline: 2px solid #00c6bd;
}

.services__link:focus-visible .services__image {
  border-radius: 6px;
  opacity: 0.5;
}

.services__image {
  margin: 0 0 17px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.services__title {
  margin: 0 0 19px;
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0%;
}

.services__description {
  margin: 0 0 14px;
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.services__adventure-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0 0 29px;
  padding: 0;
  list-style-type: none;
}

.services__adventure-item {
  display: flex;
  align-items: center;
  gap: 10px;
  min-height: 19px;
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.services__adventure-item::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #163152;
}

.services__price {
  display: flex;
  justify-content: space-between;
  margin: 0;
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.services__price-tag {}

.services__price-tag::after {
  content: " ₽/час";
}

.gallery {
  margin: 0 0 120px;
  padding: 0 55px;
  text-align: center;
}

/*  */
.gallery__heading {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  margin: 0 0 55px;
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.gallery__heading::after {
  position: absolute;
  bottom: -15px;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #00c6bd;
}

.gallery__wrapper {
  display: grid;
  grid-template-columns: 970px 170px;
  column-gap: 30px;
}

.gallery__image-selected {
  grid-column: 1/2;
}

.gallery__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  grid-column: 2/-1;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gallery__link {
  display: flex;
  opacity: 0.5;
}

.gallery__link--selected {
  opacity: 1;
}

.gallery__link:hover {
  opacity: 1;
}

.gallery__link:hover .gallery__image {
  border-radius: 6px;
  opacity: 1;
}

.gallery__link:active {
  opacity: 0.3;
}

.gallery__link:focus-visible {
  border-radius: 6px;
  outline: 2px solid #00c6bd;
  opacity: 1;
}

.gallery__link:focus-visible .gallery__image {
  border-radius: 6px;
  opacity: 1;
}

.gallery__item--selected {
  opacity: 1;
}

.news {
  margin: 0 0 120px;
  padding: 0 255px;
  text-align: center;
}

.news__heading {
  position: relative;
  display: inline-flex;
  margin: 0 0 55px ;
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.news__heading::after {
  position: absolute;
  bottom: -15px;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #00c6bd;
}

.news__wrapper {
  text-align: left;
}

.news__figure {
  margin: 0 0 34px;
}

.news__image {
  width: 100%;
  height: auto;
  margin: 0 0 13px;
}

.news__figcaption {
  color: #8693a4;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.news__title {
  margin: 0 0 26px;
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}

.news__text {
  margin: 0 0 12px;
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.news__text--medium {
  margin: 0 0 24px;
}

.news__text--big {
  margin: 0 0 38px;
}

.news__text--last {
  margin: 0 0 40px;
}

.news__teams-heading {
  margin: 0;
}

.teams__heading {
  margin: 0 0 15px;
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.news__teams-list {
  margin: 0 0 30px;
}

.teams__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  list-style-type: none;
}

.teams__item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.teams__item::before {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #163152;
}

.news__quote {
  display: flex;
  gap: 18px;
  margin: 0 0 30px;
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 36px;
}

.news__quote::before {
  content: "";
  width: 4px;
  top: 0;
  bottom: 0;
  background: #00c6bd;
}

.news__wrapper-author {
  display: flex;
  gap: 15px;
  margin: 40px 0 0;
}

.news__author-image {
  border-radius: 50%;
}

.news__author-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  gap: 9px;
  margin: 0;
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.news__date {
  color: #8693a4;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.news__link {
  align-self: center;
  color: #163152;
  border-radius: 6px;
  outline-offset: 6px;

}

.news__link:hover {
  color: rgba(22, 49, 82, 0.5);
}

.news__link:active {
  color: rgba(22, 49, 82, 0.3);
}

.news__link:focus-visible {
  outline: 2px solid #00c6bd;
  opacity: 0.5;
}

.contacts {
  display: flex;
  gap: 100px;
  margin: 0 0 120px;
  padding: 0 55px;
}

.contacts__wrapper {
  padding: 50px 0 0;
}

.contacts__heading {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  margin: 0 0 35px;
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.contacts__heading::after {
  position: absolute;
  bottom: -15px;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #00c6bd;
}

.contacts__adress,
.contacts__phone,
.contacts__email {
  display: flex;
  gap: 10px;
  margin: 0 0 15px;
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.contacts__link {
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
}

.contacts__link:hover {
  color: rgba(22, 49, 82, 0.5);
}

.contacts__link:active {
  color: rgba(22, 49, 82, 0.3);
}

.contacts__link:focus-visible {
  border-radius: 6px;
  outline-offset: 6px;
  outline: 2px solid #00c6bd;
  opacity: 0.5;
}

.social__heading {
  margin: 0 0 15px;
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.social__list {
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__link {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  color: #000000;
  border: 1px solid #00c6bd;
  border-radius: 50%;
}

.social__link:hover {
  opacity: 0.5;
}

.social__link:active {
  opacity: 0.3;
}

.social__link:focus-visible {
  outline-offset: 6px;
  outline: 2px solid #00c6bd;
  opacity: 0.5;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 60px 55px;
  border-top: 1px solid rgba(22, 49, 82, 0.1);
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.page-footer__logo {
  margin: 0 0 auto;
  color: #163152;
}

.page-footer__logo:hover {
  opacity: 0.5;
}

.page-footer__logo:active {
  opacity: 0.3;
}

.page-footer__logo:focus-visible {
  border-radius: 6px;
  outline-offset: 6px;
  outline: 2px solid #00c6bd;
  opacity: 0.5;
}

.page-footer__copyright {
  margin: 8px 0 0;
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}

.menu__list {
  display: grid;
  grid-template-columns: repeat(4, 165px);
  gap: 70px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__item {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.menu__title {
  margin: 0;
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.menu-inner__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-inner__link {
  color: #163152;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
}

.menu-inner__link:hover {
  color: rgba(22, 49, 82, 0.5);
}

.menu-inner__link:active {
  color: rgba(22, 49, 82, 0.3);
}

.menu-inner__link:focus-visible {
  border-radius: 6px;
  outline-offset: 6px;
  outline: 2px solid #00c6bd;
  opacity: 0.5;
}
